@page "/"
@using TheIdleScrolls_Core.DataAccess
@using TheIdleScrolls_Web.CoreWrapper
@using TheIdleScrolls_Web.Components

@inject CoreWrapperModel CoreWrapper


<PageTitle>The Idle Scrolls</PageTitle>
<div style="position:relative">
@if (!CoreWrapper.GameLoopRunning)
{
	<p>Enter the name of a new character</p>
	<form action="" onsubmit=@(() => StartGame(NewCharName))>
		<input type="text" required pattern="[A-Za-z][A-Za-z0-9_\-]+"
		   title="Must start with a letter. May contain letters, digits, - and _"
		   @bind="@NewCharName" placeholder="" 
		   style="margin-left: 10px;"/>
		<button>Create</button>
	</form>

	@if (CoreWrapper.StoredCharacters != null && CoreWrapper.StoredCharacters.Count > 0)
	{
		@if (DeleteMode)
		{
			<p style="margin-top: 2rem; color: red; font-weight: bold">Click on a character to delete it. THIS CANNOT BE UNDONE!</p>
		}
		else
		{
			<p style="margin-top: 2rem">Or select an existing one</p>
		}
		<div id="storedCharsFrame">
			@foreach (var metaData in Characters)
			{
				if (metaData != null)
				{
					<CharacterTile Character=@metaData OnClicked="CharacterTileClicked" DeleteMode=@DeleteMode/> 
				}
			}
		</div>
	}

	<div class="mainMenuButtonRow">
		<button id="deleteCharButton" @onclick=@(() => DeleteMode = !DeleteMode)>Delete Character</button>

		<button id="settingsButton" @onclick=@(() => ShowSettings = true)>Settings</button>
		<button id="changelogButton" @onclick=@(() => ShowChangelog = true)>Recent Changes</button>
	</div>
	
	@if (ShowSettings)
    {
		<MainOptionSettings OnClicked=@(() => ShowSettings = false) OnDataChanged="ReadCharacters" />
	}

	@if (ShowChangelog)
	{
		<div id="changelogBackground" @onclick=@(() => ShowChangelog = false)>
			<div id="changelogContainer">
				<Changelog/>
			</div>
		</div>
	}
}
else
{
	<MainGameContainer/>
}
<ExpiringMessagesDisplay/>
</div>

<style>
	#storedCharsFrame {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 10px;
		gap: 10px;
		width: 900px;
	}

	.mainMenuButtonRow {
	    display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 2rem;
        margin-top: 20px;
	}

	#settingsButton {
	}

	#changelogButton {
	}

	#deleteCharButton {
		background-color: @(DeleteMode ? "orangered" : "ghostwhite");
    }

	#deleteCharButton:hover {
		background-color: @(DeleteMode ? "red" : "gainsboro");
	}

	#changelogBackground {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}

	#changelogContainer {
		padding: 1rem;
		overflow-y: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-height: 80%;
		width: 80%;
		max-width: 1000px;
		border: solid 3px black;
		background-color: var(--back-color);
	}

</style>

@code
{
	string NewCharName { get; set; } = "";

	List<CharacterMetaData> Characters { get; set; } = new();

	bool ShowSettings { get; set; } = false;
	bool ShowChangelog { get; set; } = false;

	bool DeleteMode { get; set; } = false;

	protected override void OnInitialized()
	{
		base.OnInitialized();

		CoreWrapper.CharacterListChanged += (List<string> _) => StateHasChanged();
		CoreWrapper.StateChanged += StateHasChanged;
		CoreWrapper.GameLoopRunStateChanged += (bool active) =>
		{
			if (!active)
			{
				_ = ReadCharacters();
			}
		};

		_ = ReadCharacters();
	}

	async Task ReadCharacters()
	{
		await CoreWrapper.UpdateSavedCharacters();
		Characters.Clear();
		var storedChars = CoreWrapper.StoredCharacters.Where(c => !c.StartsWith("_"));
		foreach (var charName in storedChars)
		{
			var metaData = await CoreWrapper.GetCharacterMetaData(charName);
			if (metaData != null)
			{
				Characters.Add(metaData);
			}
		}
		StateHasChanged();
	}

	async Task CharacterTileClicked(string characterName)
	{
		if (DeleteMode)
		{
			await DeleteCharacter(characterName);
			DeleteMode = false;
		}
		else
		{
			await StartGame(characterName);
		}
	}

	async Task StartGame(string characterName)
	{
		CoreWrapper.Reset();
		await CoreWrapper.LoadCharacter(characterName);
		_ = CoreWrapper.StartGameLoop();
	}

	async Task DeleteCharacter(string characterName)
	{
		await CoreWrapper.DeleteCharacter(characterName);
		await ReadCharacters();
	}
}