@page "/"
@using TheIdleScrolls_Web.CoreWrapper

@inject CoreWrapperModel CoreWrapper

<PageTitle>The Idle Scrolls</PageTitle>

Welcome to your new app. Here are your previous characters:

<button @onclick="ReadCharacters">Refresh</button>

@if (CoreWrapper.StoredCharacters != null)
{
	<ul>
		@foreach (string charName in CoreWrapper.StoredCharacters) // null check above
		{
			<li>@charName</li>
		}
	</ul>
}

@code
{
	protected override void OnInitialized()
	{
		base.OnInitialized();

		CoreWrapper.CharacterListChanged += (List<string> _) => StateHasChanged();

		ReadCharacters();
	}

	async Task ReadCharacters()
	{
		await CoreWrapper.UpdateSavedCharacters();
	}
}