@page "/"
@using TheIdleScrolls_Web.CoreWrapper

@inject IJSRuntime JS

<PageTitle>Index</PageTitle>

<h1>Welcome, world!</h1>

Welcome to your new app. Here are your previous characters:

<button @onclick="ReadCharacters">Load</button>

@if (coreWrapper?.StoredCharacters != null)
{
	<ul>
		@foreach (string charName in coreWrapper!.StoredCharacters) // null check above
		{
			<li>@charName</li>
		}
	</ul>
}

@code
{
	private CoreWrapperModel? coreWrapper;

	protected override void OnInitialized()
	{
		base.OnInitialized();
		coreWrapper = new(JS);

		coreWrapper.CharacterListChanged += (List<string> _) => StateHasChanged();
	}

	void ReadCharacters()
	{
		coreWrapper?.UpdateSavedCharacters();
	}
}