@page "/"
@using TheIdleScrolls_Core.DataAccess
@using TheIdleScrolls_Web.CoreWrapper
@using TheIdleScrolls_Web.Components

@implements IDisposable

@inject CoreWrapperModel CoreWrapper

<PageTitle>The Idle Scrolls</PageTitle>

@if (!CoreWrapper.GameLoopRunning)
{
	<p>Enter the name of a new character</p>
	<form action="" onsubmit=@(() => StartGame(NewCharName))>
		<input type="text" required pattern="[A-Za-z][A-Za-z0-9_\-]+"
		   title="Must start with a letter. May contain letters, digits, - and _"
		   @bind="@NewCharName" placeholder="" 
		   style="margin-left: 10px;"/>
		<button>Create</button>
	</form>

	@if (CoreWrapper.StoredCharacters != null && CoreWrapper.StoredCharacters.Count > 0)
	{
		<p style="margin-top: 20px">Or select an existing one</p>
		<div id="storedCharsFrame">
			@foreach (var metaData in Characters)
			{
				if (metaData != null)
				{
					<CharacterTile Character=@metaData OnClicked="StartGame"/> 
				}
			}
		</div>
	}

	<button id="settingsButton" @onclick=@(() => ShowSettings = true)>Settings</button>
	@if (ShowSettings)
    {
		<MainOptionSettings OnClicked=@(() => ShowSettings = false) OnDataChanged="ReadCharacters" />
	}
}
else
{
	<MainGameContainer/>
}
<div id="timedMessageArea">
	@foreach (var message in CoreWrapper.ExpiringMessages.Where(m => !m.Expired))
	{
		<div class="timed-message">
			@message.Message
		</div>
	}
</div>

<style>
	#storedCharsFrame {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 10px;
		gap: 10px;
		width: 600px;
	}

	#settingsButton {
        margin-top: 20px;
	}

	#timedMessageArea {
		position: absolute;
		right: 0;
		top: 50px;
		display: flex;
		flex-direction: column;
		width: 20vw;
		margin: 20px;
		gap: 10px;
	}

	div.timed-message {
		background-color: var(--back-color-special);
		border: 2px solid var(--frame-color-special);
		border-radius: 8px 8px;
		width: 100%;
		padding: 5px;
		overflow-x: hidden;
	}
</style>

@code
{
	string NewCharName { get; set; } = "";

	List<CharacterMetaData> Characters { get; set; } = new();

	bool ShowSettings { get; set; } = false;

	PeriodicTimer periodicTimer = new(TimeSpan.FromMilliseconds(200));

	protected override void OnInitialized()
	{
		base.OnInitialized();

		CoreWrapper.CharacterListChanged += (List<string> _) => StateHasChanged();
		CoreWrapper.StateChanged += StateHasChanged;
		CoreWrapper.GameLoopRunStateChanged += (bool active) =>
		{
			if (!active)
			{
				_ = ReadCharacters();
			}
		};

		_ = ReadCharacters();
		UpdateLoop();
	}

	public void Dispose()
    {
        periodicTimer.Dispose();
    }

	async Task ReadCharacters()
	{
		await CoreWrapper.UpdateSavedCharacters();
		Characters.Clear();
		var storedChars = CoreWrapper.StoredCharacters.Where(c => !c.StartsWith("_"));
		foreach (var charName in storedChars)
		{
			var metaData = await CoreWrapper.GetCharacterMetaData(charName);
			if (metaData != null)
			{
				Characters.Add(metaData);
			}
		}
		StateHasChanged();
	}

	async Task StartGame(string characterName)
	{
		CoreWrapper.Reset();
		await CoreWrapper.LoadCharacter(characterName);
		_ = CoreWrapper.StartGameLoop();
		Console.WriteLine($"Game started as {characterName}");
	}

	async void UpdateLoop()
	{
		while (await periodicTimer.WaitForNextTickAsync())
		{
			if (!CoreWrapper.GameLoopRunning)
            {
                await InvokeAsync(StateHasChanged);
            }	
		}
	}
}