@page "/"
@using TheIdleScrolls_Web.CoreWrapper

@inject IJSRuntime JS

<PageTitle>Index</PageTitle>

<h1>Welcome, world!</h1>

Welcome to your new app. Here are your previous characters:

<button @onclick="ReadCharacters">Load</button>

<ul>
	@foreach (string charName in characters)
	{
		<li>@charName</li>
	}
</ul>

@code
{
	private CoreWrapperModel? coreWrapper;

	private List<string> characters { get; set; } = new();

	protected override void OnInitialized()
	{
		base.OnInitialized();
		coreWrapper = new(JS);
	}

	void ReadCharacters()
	{
		characters = coreWrapper!.GetSavedCharacters();
		StateHasChanged();
	}
}