div.achOuter {
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-sizing: border-box;
    max-height: inherit;
    width: 100%;
}

div.topRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 0 1 auto;
}

tr.earned {
    color: black;
}

tr.unearned {
    color: gray;
    font-style: italic;
    background-color: lightgray;
}