@using TheIdleScrolls_Web.CoreWrapper
@using TheIdleScrolls_Core

@inject CoreWrapperModel CoreWrapper

<div class="achOuter">
    <div class="topRow">
        <p>Completed: @AchievementsEarned / @TotalAchievements</p>
    </div>
    <div class="scrolling-table">
        <table class="scrolling">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var achievement in Achievements)
                {
                    <tr class="@(achievement.Earned ? "earned" : "unearned")">
                        <td>@achievement.Title</td>
                        <td>@achievement.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@code {
    List<AchievementRepresentation> Achievements => CoreWrapper.Achievements;
    int TotalAchievements => CoreWrapper.AchievementCount;
    int AchievementsEarned => Achievements.Count(a => a.Earned);
}