@page "/changelog"

@using TheIdleScrolls_Web.Definitions


<h3>Recent Changes</h3>

<div style="max-width: 1000px">
    <h4>@GameVersion.GetVersionString(0, 8, 1)</h4>
        
    <h5>Bugfixes</h5>
    <ul>
        <li>Symbols on buttons for changing the area were not always displayed correctly</li>
    </ul>

    <h5>Balancing</h5>
    <ul>
        <li><b>Elegant Parry</b> now gives 40% of your light shields base armor as evasion (up from 30%)</li>
        <li><b>Quick Slash</b> now deals 100% more damage on top the 100% more attack speed. A truly masterful stroke!</li>
        <li><b>Sneak Attack</b> now deals 100% more damage for every 25 levels of the Short Blade ability (up to 800% at level 200)</li>
        <li>
            <b>Stunning Blow</b> now adds +2 base armor to every armor piece for every 25 levels of the
            Blunt Weapon ability (up to +16 armor at level 200)
        </li>
    </ul>

    <h5>Rebalanced Crafting</h5>
    Since weapons impact the total strength of your character much more than individual pieces of armor, it is appealing to neglect 
    crafting and refining armor in favor of focusing on weapons. Therefore, there are changes to the crafting system to even the playing
    field somewhat.
    <ul>
        <li>Crafting armor is now signifantly cheaper and faster</li>
        <li>Crafting now takes longer at higher levels and is somewhat more expensive</li>
        <li>Crafting cost now increases in a more sensible way between item tiers</li>
    </ul>

    <h5>Quality of Life Improvements</h5>
    <ul>
        <li>Item info now contains a weapon's base DPS</li>
        <li>Info messages now last longer</li>
        <li>Added explanatory tooltips to some elements</li>
    </ul>
        
    <h5>Uber Pinnacle Dungeons</h5>
    For those heroes who have outgrown the regular endgame dungeons, there are now an even more dangerous versions of these 
    mysterious fortresses and their fearsome guardians.
    <ul>
        <li>Added level 200 versions of the existing level 150 endgame dungeons</li>
    </ul>

    <h5>Titled Heroes</h5>
    <ul>
        <li>Characters can now earn titles by accomplishing their heroic deeds</li>
        <li>Titles do not have any effect on the game and are solely meant to be an indicator of earned glory</li>
    </ul>

    <h5>New Achievements</h5>
    <ul>
        <li><b>Endgame:</b> Complete an endgame dungeon</li>
        <li><b>HC Endgame:</b> Complete the three endgame dungeons without losing a single fight</li>
        <li><b>Uber Endgame:</b> Complete an endgame dungeon at area level 200</li>
        <li><b>Happy Pride:</b> Wear items with six different quality levels above 0</li>
    </ul>

    <h5>New Perks</h5>
    <ul>
        <li><b>Well Dressed:</b> 0.5% increased damage and defenses for each level of quality on your gear</li>
    </ul>

    <h5>Miscellaneous</h5>
    <ul>
        <li>Added this changelog page</li>
        <li>Maximum time limit is now updated after every attack instead of only at the start of a battle</li>
    </ul>
</div>

<div>
    <h4>@GameVersion.GetVersionString(0, 8, 0)</h4>
    <ul>
        <li>Initial Friends & Family open beta release</li>
    </ul>
</div>


@code {
    
}
