@page "/changelog"

@using TheIdleScrolls_Web.Definitions


<h3>Recent Changes</h3>

<div>
    <h4>@GameVersion.GetVersionString(0, 8, 1)</h4>
        
    <h5>Bugfixes</h5>
    <ul>
        <li>Symbols on buttons for changing the area were not always displayed correctly</li>
    </ul>

    <h5>Balancing</h5>
    <ul>
        <li><b>Elegant Parry</b> now gives 50% of your light shields base armor as evasion (up from 30%)</li>
    </ul>

    <h5>Quality of Life Improvements</h5>
    <ul>
        <li>Item info now contains a weapon's base DPS</li>
        <li>Info messages now last longer</li>
        <li>Added explanatory tooltips to some elements</li>
    </ul>
        
    <h5>Uber Pinnacle Dungeons</h5>
    <ul>
        <li></li>
    </ul>

    <h5>Titled Heroes</h5>
    <ul>
        <li></li>
    </ul>

    <h5>New Achievements</h5>
    <ul>
        <li></li>
    </ul>

    <h5>Miscellaneous</h5>
    <ul>
        <li>Added this changelog page</li>
    </ul>
</div>

<div>
    <h4>@GameVersion.GetVersionString(0, 8, 0)</h4>
    <ul>
        <li>Initial Friends & Family open beta release</li>
    </ul>
</div>


@code {
    
}
