div.charOuter {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    box-sizing: border-box;
    padding-left: 10px;
    width: 100%;
}

progress {
    width: 70%;
}

tr {
    border-bottom: 1px solid slategray;
}

th, td {
    font-size: inherit;
}

tr:last-child {
    border-bottom: none;
}

td:last-child {
    border-right: none;
}

hr {
    margin: 0.5rem;
}