

progress {
    width: 70%;
}

tr {
    /*border-bottom: 1px solid slategray;*/
}

th, td {
    font-size: inherit;
    width: max-content;
    padding-right: 0.5rem;
    white-space: nowrap;
}

td {
    padding-right: 1.5rem;
}

tr:last-child {
    border-bottom: none;
}

td:last-child {
    border-right: none;
    padding-right: 0.5rem;
}

hr {
    margin: 0.5rem;
}