div.outer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    overflow-y: hidden;
}

#dungeonButtonsArea {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    min-height: 0px;
}

#dungeonDescriptionArea {
    display: flex;
    flex-direction: column;
}

#headline {
    font-weight: bold;
}

#dungeonDescription {
    border: solid 1px var(--frame-color);
    padding: 5px;
    flex: 1 0 auto;
    display: flex;
    min-height: 250px;
    flex-direction: column;
}

button.dungeon {
    padding: 5px 15px 5px 15px;
    margin: 5px;
    max-width: 200px;
    height: fit-content;
    box-sizing: border-box;
    width: calc(100% - 10px);
}

button.enter {
    margin-top: 10px;
    width: 35%;
    flex: 0 1 auto;
    align-self: center;
}