<div id="helpFrame">
    <h4>Combat</h4>
    <p></p>

    <h4>Character Level</h4>
    <p></p>

    <h4>Items</h4>
    <p></p>

    <h4>Weapons</h4>
    <p></p>

    <h4>Armor</h4>
    <p></p>

    <h4>Shields</h4>
    <p></p>

    <h4>Item Quality</h4>
    <p></p>

    <h4>Abilities</h4>
    <p></p>

    <h4>Time Limit</h4>
    <p>Enemies that you encounter outside the training grounds are going to fight back. You only have a limited amount of time to 
        defeat them, before you get overpowered and lose the fight. Don't worry though, there is no direct penalty for being defeated.
    </p>

    <h4>Protection</h4>
    <p>There are several ways to protect yourself against dangerous enemies.</p>
    <p><strong>Armor: </strong>Being armored slows the speed at which you run out of time. Every point of armor rating provides 1% resistance 
        to time loss. So 100 armor points will halve the speed at which time runs out.
    </p>
    <p><strong>Evasion: </strong>Being evasive gives you additional time in fights. Every point of evasion rating increases the available
        time by 1%. So 100 evasion points will double the time limit.
    </p>
    
    <h4>Encumbrance</h4>
    <p>Armor items will protect and you in battle but most of them also encumber you. Encumbrance reduces your attack speed by 1% per point. So an encumbrance 
        50% halves the speed at which you attack.
    </p>
    
    <h4>Travel</h4>
    <p></p>

    <h4>Dungeons</h4>
    <p>Dungeons are special areas that are outside of the main game world. A dungeon consists of one or more floors, each one containing 
        one or more enemies. Enemies on a dungeon floor share a time limit and are fought one after another. Once all enemies on a floor have 
        been defeated, you automatically move on to the next one. Finishing every floor of a dungeon awards you a guaranteed item drop. If 
        you do not manage to clear a floor in time, you will be moved back to the overworld and will have to start the dungeon from the 
        beginning on your next attempt.
    </p>

    <h4>Crafting</h4>
    <p>
    </p>
</div>

<style>
    #helpFrame {
        display:flex;
        flex-direction: column;
        overflow: auto;
        height: 100%;
        padding: 10px;
    }
</style>

@code {

}
