@using TheIdleScrolls_Core
@using TheIdleScrolls_Web.CoreWrapper

@inject CoreWrapperModel CoreWrapper

<div id="inventoryContainer">
    <div class="scrolling-table">
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Items)
                {
                    <tr>
                        <td class="selectable @(GetSelectionClass(item)) @(CssUtilities.GetClassesForItem(item))" 
                        @onclick=@(() => SelectItem(item.Id))
                        @ondblclick=@(() => EquipItem(item.Id))>
                            @item.Name
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    #inventoryContainer {
        flex: 1 1 auto;
        margin: 10px;
        box-sizing: border-box;
        max-height: 100%;
    }
</style>

@code {
    List<ItemRepresentation> Items => CoreWrapper.Inventory;

    protected override void OnInitialized()
    {
        CoreWrapper.StateChanged += StateHasChanged;
        base.OnInitialized();
    }

    void SelectItem(uint id)
    {
        CoreWrapper.ToggleItemHighlight(id);
        StateHasChanged();
    }

    void EquipItem(uint id)
    {
        CoreWrapper.InputHandler.EquipItem(CoreWrapper.Character.Id, id);
    }

    string GetSelectionClass(ItemRepresentation item)
    {
        return CoreWrapper.IsItemHighlighted(item.Id) ? "selectedItem" : "";
    }
}
