@using TheIdleScrolls_Core
@using TheIdleScrolls_Web.CoreWrapper

@inject CoreWrapperModel CoreWrapper

<div class="scrolling-table">
    <table>
        <thead>
            <tr>
                <th>Item</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr>
                    <td class="@(CssUtilities.GetClassesForItem(item))" @ondblclick=@(() => EquipItem(item.Id))>
                        @item.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    List<ItemRepresentation> Items => CoreWrapper.Inventory;

    protected override void OnInitialized()
    {
        CoreWrapper.StateChanged += StateHasChanged;
        base.OnInitialized();
    }

    void EquipItem(uint id)
    {
        CoreWrapper.InputHandler.EquipItem(CoreWrapper.Character.Id, id);
    }
}
