:root {
    --tab-row-height: 30;
}

h1 {
    border-bottom: double 5px black;
    background-color: antiquewhite;
}

div.framed {
    color: green;
    background-color: lightgreen;
    border-color: black;
    border-style: solid;
    border-width: 3px;
}

.main-frame {
    display: flex;
    color: var(--text-color);
    background-color: var(--back-color);
    height: var(--min-height);
    min-width: 1000px;
}

.left-frame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    background-color: aquamarine;
    min-height: var(--min-height);
/*    max-height: 700px;*/
}

.right-frame {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: coral;
    min-height: var(--min-height);
    border: solid 1px slategray;
}

.left-frame + .right-frame {
    margin-left: 10px;
}

div.spaced-items {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tabs {
    display: flex;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    justify-content: left;
    flex: 0 0 auto;
}

.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tabs button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tabs button.active {
    background-color: #ccc;
}body {
}

p {
    font-size: 24px;
}