:root {
    --tab-row-height: 30;
}

h1 {
    border-bottom: double 5px black;
    background-color: antiquewhite;
}

div.framed {
    color: green;
    background-color: lightgreen;
    border: 3px solid var(--frame-color);
}

.main-frame {
    color: var(--text-color);
    /*background-color: var(--back-color);*/
    /*width: 100%;*/
    max-width: 1500px;
    height: calc(100vh - 120px);
    box-sizing: border-box;
    margin: auto;
    gap: 20px;
    position: relative;

    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-areas: 
        "left right";
}

.left-frame {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--back-color);
    height: 650px;
    grid-area: left;
}

.right-frame {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: var(--back-color);
    
    grid-area: right;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    display: grid;
    grid-template-rows: min-content min-content auto;
    grid-template-areas:
        "character"
        "tab-buttons"
        "tabbed-area";
}

div.spaced-items {
    display: flex;
    flex: 1 1 auto;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    max-height: inherit;
}

#charOverview {
    grid-area: character;
    margin-bottom: 10px;
}

body {
}

p {
    /*font-size: 24px;*/
}