@page "/map"
@using TheIdleScrolls_Core.GameWorld
@using TheIdleScrolls_Core.Resources
@using TheIdleScrolls_Web.CoreWrapper

@inject CoreWrapperModel CoreWrapper

<h3>World Map Display</h3>

<div id="worldMapOuterFrame">
<div id="worldMapFrame">
    @for (int y = 0; y < Cells.GetLength(0); y++)
    {
        <div class="worldMapRow">
            @for (int x = 0; x < Cells.GetLength(1); x++)
            {
                int cellX = x;
                int cellY = y;
                <div class=@GetCellClasses(Cells[y, x]) style=@GetCellStyle(Cells[y, x]) @onclick=@(() => SwitchLocation(cellX, cellY))>
                    @(Cells[y, x]?.Level ?? 0)
                </div>
            }            
        </div>
    }
</div>

@if (CurrentLocation is not null)
{
    <div style="padding-top: 1rem">
        <h5>Zone Level: @CurrentLocation.Level</h5>
        <h5>Biome: @CurrentLocation.Biome.ToLocalizedString()</h5>
        <h5>Mobs:</h5>
        <ul>
            @foreach (var mob in GetLocalMobs(CurrentLocation))
            {
                <li>@mob</li>
            }
        </ul>
    </div>
}
</div>

<style>
    :root {
        --color-biome-dungeon: darkgray;
        --color-biome-grassland: lawngreen;
        --color-biome-forest: green;
        --color-biome-rainforest: darkgreen;
        --color-biome-swamp: teal;
        --color-biome-savannah: goldenrod;
        --color-biome-desert: yellow;
        --color-biome-oasis: limegreen;
        --color-biome-tundra: lightblue;
        --color-biome-icydesert: lightcyan;
        --color-biome-wasteland: gray;
        --color-biome-graveyard: slategray;
        --color-biome-coast: cyan;
        --color-biome-none: white;
    }

    #worldMapOuterFrame {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    #worldMapFrame {
        max-width: 800px;
        max-height: 800px;
        border: 3px solid var(--frame-color);
        background-color: var(--back-color-special);
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .worldMapRow {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        overflow: visible;
    }

    .worldMapCell {
        width: 40px;
        height: 40px;
        border: 1px solid black;
        flex-basis: 40px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .underpopulated {
        border: 1px solid orange;
    }

    .empty {
        border: 2px solid red;
    }

    .selected {
        font-weight: bold;
        border: 2px solid lightblue;
    }
</style>

@code {
    ZoneDescription?[,] Cells = { };
    ZoneDescription? CurrentLocation = null;

    protected override void OnInitialized()
    {
        var worldMap = new WorldMap();
        List<Location> locations = new();

        Location? next = new(0, 0);
        for (int i = 0; i < 300; i++)
        {
            if (next == null)
                break;
            locations.Add(next);
            next = worldMap.GetNextLocation(next);
        }
        int xMin = locations.Select(l => l.X).Min();
        int xMax = locations.Select(l => l.X).Max();
        int yMin = locations.Select(l => l.Y).Min();
        int yMax = locations.Select(l => l.Y).Max();
        Cells = new ZoneDescription?[yMax - yMin + 1, xMax - xMin + 1];
        for (int y = yMin; y <= yMax; y++)
        {
            for (int x = xMin; x <= xMax; x++)
            {
                var zone = worldMap.GetZone(new(x, y));
                Cells[Cells.GetLength(0) - 1 - (y - yMin), x - xMin] = zone; // flip y-axis
            }
        }
        base.OnInitialized();
    }

    string GetCellClasses(ZoneDescription? zone)
    {
        if (zone is null)
            return "";
        string additional = "";
        int mobs = GetLocalMobs(zone).Count;
        if (mobs < 2 && zone.Level >= 10)
        {
            additional += "underpopulated ";
        }
        if (mobs == 0)
        {
            additional += "empty ";
        }
        if (zone == CurrentLocation)
        {
            additional += "selected ";
        }
        return $"worldMapCell {additional}";
    }

    string GetCellStyle(ZoneDescription? zone)
    {
        string biomeName = (zone?.Biome) switch {
            Biome.Dungeon => "dungeon",
            Biome.Grassland => "grassland",
            Biome.Forest => "forest",
            Biome.Rainforest => "rainforest",
            Biome.Swamp => "swamp",
            Biome.Savannah => "savannah",
            Biome.Desert => "desert",
            Biome.Oasis => "oasis",
            Biome.Tundra => "tundra",
            Biome.IcyDesert => "icydesert",
            Biome.Wasteland => "wasteland",
            Biome.Graveyard => "graveyard",
            Biome.Coast => "coast",
            _ => "none"
        };
        return $"background-color: var(--color-biome-{biomeName})";
    }

    void SwitchLocation(int x, int y)
    {
        CurrentLocation = Cells[y, x];
        StateHasChanged();
    }

    List<string> GetLocalMobs(ZoneDescription? zone)
    {
        if (zone is null)
            return [];
        return MobList.Mobs.Where(m => m.CanSpawn(zone)).Select(m => m.Name).ToList();
    }
}
