@using TheIdleScrolls_Web.CoreWrapper
@using TheIdleScrolls_Web.Definitions

@inherits LayoutComponentBase

@inject CoreWrapperModel CoreWrapper

<div class="page">
    <main>
        <div class="top-row px-4 @BannerClass">
            <h1 class="banner-title" style="cursor: pointer" @onclick="Reset">The Idle Scrolls</h1>
            <p style="position: absolute; top: 0.5rem; right: 1.0rem">@GameVersion.GetCurrentVersionString()</p>
        </div>        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<style>
    .fading-out {
        animation: fade-out 5s forwards;
    }

    @@keyframes fade-out {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
</style>

@code {
    PeriodicTimer periodicTimer = new(TimeSpan.FromMilliseconds(500));
    string BannerClass => CoreWrapper.GameWorld.GameEndAnimation ? "fading-out" : "";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        UpdateLoop();
        CoreWrapper.GameLoopRunStateChanged += (bool active) => StateHasChanged();
    }

    private void Reset()
    {
        if (CoreWrapper.GameLoopRunning && !CoreWrapper.GameWorld.GameEndAnimation)
            CoreWrapper.StopGameLoop();
    }

    async void UpdateLoop()
    {
        while (await periodicTimer.WaitForNextTickAsync())
        {
            await InvokeAsync(StateHasChanged);
            if (CoreWrapper.GameWorld.GameEndAnimation)
            {
                periodicTimer.Dispose();
                break;
            }
        }
    }
}