@using TheIdleScrolls_Web.CoreWrapper

@inherits LayoutComponentBase

@inject CoreWrapperModel CoreWrapper

<div class="page">
@*    <div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
        <div class="top-row px-4">
            <h1 class="banner-title" style="cursor: pointer" @onclick="Reset">The Idle Scrolls</h1>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private void Reset()
    {
        if (CoreWrapper.GameLoopRunning)
            CoreWrapper.StopGameLoop();
    }
}